.adress {
  box-sizing: border-box;
  height: 400px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  padding: 95px 765px 107px 110px;
  position: relative;
}

.adress-cooperation {
  box-sizing: border-box;
  .flexible;
  padding: 56px 80px;
  height: 198px;
  background-color: #ffffff;
}

.adress__map-icon {
  position: absolute;
  top: 131px;
  right: 419px;
  bottom: 163px;
  left: 908px;
}

.adress-cooperation__title {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
}

.adress-cooperation__street {
  font-family: @arial;
  line-height: 20px;
}

.adress-cooperation__city {
  font-family: @arial;
}
