.catalog-item,
.catalog-item-add {
  width: 245px;
  height: 431px;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  background-color: @color;
  position: relative;
  padding: 162px 30px 40px 35px;
}

.catalog-item__img1,
.catalog-item__img2,
.catalog-item__img3,
.catalog-item__img4,
.catalog-item__img5,
.catalog-item__img6,
.catalog-item__img7 {
  position: absolute;
}

.catalog-item__list-item {
  .flexible ();
  font-family: @arial;
  margin: 0 0 16px;
}

.catalog-item__desc {
  margin: 0;
}

.catalog-item button {
  margin: auto;
  font-family: "Oswald", sans-serif;
}

.catalog-item__name,
.catalog-item-add__name {
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 0 20px;
  font-family: "Oswald", sans-serif;
}

.catalog-item-add__desc {
  font-family: @arial;
  text-align: center;
}

.button-show {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 52px 38px 0;
}

.catalog-item__img1 {
  position: absolute;
  top: -52px;
  left: 43px;
}

.catalog-item__img2 {
  position: absolute;
  top: -80px;
  left: 39px;
}

.catalog-item__img3 {
  position: absolute;
  top: -54px;
  left: 42px;
}

.catalog-item__img4 {
  position: absolute;
  top: -80px;
  left: 39px;
}

.catalog-item__img5 {
  position: absolute;
  top: -51px;
  left: 43px;
}

.catalog-item__img6 {
  position: absolute;
  top: -80px;
  left: 39px;
}

.catalog-item__img7 {
  position: absolute;
  top: -54px;
  left: 42px;
}
