.example {
  box-sizing: border-box;
  margin: 49px -20px 0;
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
}

.example__block {
  @media (min-width: @desktop-width) {
    background-color: @color;
    position: relative;
    box-sizing: border-box;
  }
}

.example__block-container {
  position: relative;
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 70px 110px 53px;
  }
}

.example__wrapper-title {
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 20px 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 51px 30px 65px;
  }

  @media (min-width: @desktop-width) {
    margin: 53px 110px 77px;
  }
}

.example__text {
  font-family: @arial;
  margin: 0 0 19px;

  @media (min-width: @tablet-width) {
    width: 700px;
    margin: 0 0 53px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin: 0 0 68px;
  }
}

.example__add-wrapper {
  .flexible ();
  position: relative;

  @media (min-width: @tablet-width) {
    width: 366px;
  }
}

.example__wrapper {
  @media (min-width: @tablet-width) and (max-width: @max-tablet-width) {
    .flexible ();
  }

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.example__weight::after {
  content: "";
  position: absolute;
  width: 122px;
  height: 54px;
  top: 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 160px;
    height: 70px;
  }
}

.example__days::after {
  content: "";
  position: absolute;
  width: 122px;
  height: 54px;
  top: 0;
  left: 155px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 160px;
    height: 70px;
    left: 204px;
  }
}

.example__spend {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: space-between;
    min-height: 49px;
    margin-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    .flexible ();
    margin-top: 40px;
    flex-direction: row;
    width: 327px;
  }
}

.example__wraper-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 15px 0 7px 22px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin: 15px 0 12px 27px;
  }
}

.example__desc {
  font-family: @arial;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  margin: 0 auto 0 17px;
  width: 87px;
  box-sizing: border-box;
  padding: 0 5px;
  text-align: center;
  background-color: #eaeaea;
  z-index: 3;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 114px;
    margin-left: 24px;
  }

  @media (min-width: @desktop-width) {
    background-color: @color;
  }
}

.example__days .example__wraper-title {
  margin: 15px 23px 7px 25px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin: 15px 30px 12px 15px;
  }
}

.example__days .example__desc {
  margin: 0 0 0 23px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 142px;
    margin-left: -5px;
  }

  @media (min-width: @desktop-width) {
    background-color: @color;
  }
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 20px 3px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 9px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.example__cost-qty {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 20px 3px 20px 6px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    text-align: end;
  }
}

.example__container {
  width: 280px;
  height: 256px;
  .flexible ();

  @media (min-width: @tablet-width) and (max-width: @max-tablet-width) {
    position: absolute;
    left: 103px;
    top: 300px;
    width: 560px;
    height: 512px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 110px;
    top: -135px;
    width: 560px;
    height: 512px;
  }
}

.example__img {
  height: 100%;
  width: 100%;
}

.example__img-back {
  background-image: url("../img/slide_before.webp");
  background-repeat: no-repeat;
  width: 50%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/slide_before@2x.webp");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/slide_before_big.webp");
    background-repeat: no-repeat;
    background-size: 560px auto;
    width: 50%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slide_before_big@2x.webp");
      background-size: 560px auto;
    }
  }
}

.example__img-front {
  background-image: url("../img/slide_after.webp");
  background-position: right;
  width: 50%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/slide_after@2x.webp");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/slide_after_big.webp");
    background-repeat: no-repeat;
    background-size: 560px auto;
    width: 50%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slide_after_big@2x.webp");
      background-size: 560px auto;
    }
  }
}

.example__toggle {
  position: absolute;
  left: 140px;
  display: block;
  fill: #666666;

  &:hover {
    fill: #68b738;
    stroke: #68b738;
  }

  &:active {
    fill: #5eaa2f;
    stroke: #68b738;
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    left: 260px;
  }
}

@media (min-width: 768px) {
  .example__toggle {
    display: none;
  }
}

.example__toggle-big {
  position: absolute;
  left: 120px;
  fill: #666666;
  display: none;

  &:hover {
    fill: #5eaa2f;
    stroke: #68b738;
  }

  &:active {
    fill: #5eaa2f;
    stroke: #68b738;
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    left: 260px;
  }
}

@media (min-width: 768px) {
  .example__toggle-big {
    display: block;
    color: #666666;
  }
}

.example__toggle-white {
  fill: #ffffff;
  stroke: #666666;

  &:hover {
    stroke: #68b738;
  }

  &:active {
    stroke: #68b738;
    opacity: 0.6;
  }
}

.example__bkgd-add {
  display: none;

  @media (min-width: @tablet-width) and (max-width: @max-tablet-width) {
    display: block;
    height: 462px;
    margin-top: 248px;
    background-color: #eaeaea;
  }
}
