.example__block {
  padding: 70px 110px 75px;
  background-color: @color;
  position: relative;
  box-sizing: border-box;
  height: 462px;
}

.example__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  padding-left: 110px;
  margin: 69px 0 76px;
}

.example__wraper-title {
  font-size: 30px;
  line-height: 37px;
  font-weight: 400;
}

.example__text {
  margin: 0;
  font-family: @arial;
}

.example__wrapper {
  display: flex;
}

.example__desc {
  font-family: @arial;
  font-size: 14px;
  line-height: 14px;
}

.example__spend {
  .flexible ();
  height: 20px;
  width: 327px;
}

.example__cost {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  width: 174px;
  margin: 0;
}

.example__cost-qty {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  width: 90px;
  margin: 0;
}

.example__img {
  position: absolute;
  top: -135px;
  right: 110px;
  bottom: 85px;
  left: 770px;
}
