.fitchers {
  display: flex;
  justify-content: space-between;
  padding: 82px 110px 0;
}

.fitchers__block {
  background-color: @color;
  width: 570px;
  height: 374px;
  box-sizing: border-box;
  padding: 77px 52px 55px;
}

.fitchers__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.fitchers__link {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  position: relative;
}

.fitchers__desc {
  font-family: @arial;
  margin-top: 73px;
  margin-bottom: 25px;
}

.fitchers__link-arrow {
  position: absolute;
  top: 10px;
  left: 30px;
}
