.fitchers {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 526px 0 0;
  }

  @media (min-width: @desktop-width) {
    .flexible ();
    margin: 281px 0 0;
  }
}

.fitchers__block {
  width: 280px;
  height: 266px;
  background-color: @color;

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 372px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 374px;
  }
}

.fitchers__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.fitchers__link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.fitchers__desc {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.fitchers__link-arrow {
  position: absolute;
  margin-left: 15px;
}
