.form {
  padding: 0 110px;
}

.form__pet {
  .flexible;
  height: 196px;
}

.form__pet-list {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
}

.form__pet-list li {
  height: 52px;
}

.form__pet-point {
  padding: 30px 0 0 0;
  width: 570px;
  height: 196px;
  border: 1px solid #e7e7e7;
  list-style: none;
  box-sizing: border-box;
}

.form__pet-point-list {
  margin-bottom: 18px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
}

.form__pet-name {
  margin-bottom: 20px;
  .flexible;
}

.form__pet-weight {
  margin-bottom: 20px;
  .flexible;
}

.form__pet-age {
  .flexible;
}

.form__pet-name-input,
.form__pet-weight-input,
.form__pet-age-input {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  height: 52px;
  box-sizing: border-box;
}

.form__pet-owner-contacts {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 69px 0 76px;
}

.form__pet-owner-email,
.form__pet-owner-phone,
.form__pet-owner-email-input,
.form__pet-owner-phone-input {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  height: 50px;
  box-sizing: border-box;
}

.form__pet-owner-block {
  .flexible;
}

.form__pet-comment-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 69px 0 76px;
}

.form__pet-comment-text-input {
  width: 1220px;
  height: 174px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: inherit;
  box-sizing: border-box;
}

.form__pet-add-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 67px 0 57px;
}

.form__pet-add-list {
  list-style: none;
  .flexible;
  height: 40px;
  margin-bottom: 61px;
}

.form__pet-add button {
  height: 52px;
  width: 568px;
  margin-bottom: 82px;
}

.form__add-info {
  margin-left: 81px;
  font-family: @arial;
}
