.form__pet {
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    .flexible ();
  }
}

.form__pet-list {
  text-transform: uppercase;
  list-style: none;
  padding: 0;
}

.form__pet-point {
  border: 1px solid #e7e7e7;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
}

.form__pet-point-list {
  text-transform: uppercase;
}

.form__pet-name-input,
.form__pet-weight-input,
.form__pet-age-input {
  text-transform: uppercase;
  box-sizing: border-box;
}

.form__pet-owner-contacts {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}

.form__pet-owner-email,
.form__pet-owner-phone,
.form__pet-owner-email-input,
.form__pet-owner-phone-input {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__pet-comment-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}

.form__pet-comment-text-input {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__pet-add-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}

.form__pet-add-list {
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    .flexible ();
  }
}

.form__pet-owner-block {
  @media (min-width: @desktop-width) {
    .flexible ();
  }
}

.form__pet-add-list-item {
  @media (min-width: @tablet-width) {
    width: 221px;
  }
}

.form__pet-add-wrapper {
  @media (min-width: @tablet-width) {
    .flexible();
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.form__add-info {
  font-family: @arial;
  line-height: 16px;
}
