.functions__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}

.functions__blocks {
  @media (min-width: @tablet-width) {
    .flexible ();
    flex-wrap: wrap;
  }
}

.functions__block {
  width: 280px;
  font-family: @arial;
  .flexible ();

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin-bottom: 37px;
  }
}

.functions__eco {
  @media (min-width: @tablet-width) {
    height: 280px;
    width: 230px;
    background-image: url("../img/1.svg");
    background-position: right;
    background-repeat: no-repeat;
    font-family: @arial;
  }
}

.functions__dust {
  @media (min-width: @tablet-width) {
    height: 280px;
    width: 246px;
    margin-left: 90px;
    background-image: url("../img/2.svg");
    background-position: right;
    background-repeat: no-repeat;
    font-family: @arial;
  }
}

.functions__food {
  @media (min-width: @tablet-width) {
    height: 280px;
    width: 248px;
    margin-left: 79px;
    background-image: url("../img/3.svg");
    background-position: right;
    background-repeat: no-repeat;
    font-family: @arial;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    margin-left: 0;
  }
}

.functions__best-pet {
  @media (min-width: @tablet-width) {
    height: 280px;
    width: 250px;
    margin-left: 77px;
    background-image: url("../img/4.svg");
    background-position: right;
    background-repeat: no-repeat;
    font-family: @arial;
  }
}
