.functions {
  padding-left: 110px;
}

.functions-blocks {
  display: flex;
}

.functions__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin: 71px 0 32px;
}

.functions__eco {
  height: 280px;
  width: 230px;
  background-image: url("../img/1.svg");
  background-position: right;
  background-repeat: no-repeat;
  font-family: @arial;
}

.functions__dust {
  height: 280px;
  width: 246px;
  margin-left: 94px;
  background-image: url("../img/2.svg");
  background-position: right;
  background-repeat: no-repeat;
  font-family: @arial;
}

.functions__food {
  height: 280px;
  width: 248px;
  margin-left: 79px;
  background-image: url("../img/3.svg");
  background-position: right;
  background-repeat: no-repeat;
  font-family: @arial;
}

.functions__best-pet {
  height: 280px;
  width: 250px;
  margin-left: 77px;
  background-image: url("../img/4.svg");
  background-position: right;
  background-repeat: no-repeat;
  font-family: @arial;
}
