.header {
  min-height: 66px;

  @media (min-width: @tablet-width) {
    height: 140px;
  }

  @media (min-width: @desktop-width) {
    height: 187px;
  }
}

.header__container {
  @media (min-width: @tablet-width) {
    .flexible ();
  }
}

.header__preview {
  .flexible ();
  justify-content: flex-start;

  @media (max-width: @mobile-width-only) {
    width: 320px;
  }
}

.header__preview-img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__preview-img-text {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @desktop-width) {
    width: 118px;
  }
}

.header__logo-text {
  margin: 16px 65px 0 56px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 45px auto 19px 11px;
  }

  @media (min-width: @desktop-width) {
    margin: 76px auto auto 12px;
  }
}

.header__logo {
  display: block;
  margin: 10px 0 0 20px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 26px auto auto 31px;
  }

  @media (min-width: @desktop-width) {
    margin: 52px auto auto 110px;
  }
}
