.main-catalog__container {
  padding: 0 110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 431px 431px;
  gap: 144px 80px;
}

.main-catalog__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin: 0 0 165px;
  padding-left: 110px;
}
