.slogan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 35px 20px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
    align-items: flex-start;
    padding: 0 87px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px;
    align-items: flex-start;
    height: 507px;
  }
}

.slogan__bcgd-image {
  width: 320px;
  height: 302px;
  background-image: url("../img/cat_bcgd_mobile.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat_bcgd_mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) and (max-width: @max-tablet-width) {
    width: auto;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 720px;
    height: 694px;
    background-image: url("../img/cat_bcgd.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -187px;
    left: 610px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat_bcgd@2x.png");
      background-size: 720px auto;
    }
  }
}

.slogan__bcgd-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  top: 0;
  left: 0;
}

.slogan__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  z-index: 4;
  text-align: center;
  margin: 0 0 25px;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0 0 41px;
  }
}

.slogan__title-slogan {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  z-index: 4;
  margin: 0;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}

.slogan__img {
  position: absolute;
  width: 280px;
  height: auto;
  z-index: 4;
  top: 167px;
  left: 20px;

  @media (min-width: @tablet-width) {
    top: 197px;
    width: 709px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    top: -50px;
    left: 450px;
    width: 552px;
    height: auto;
  }
}

.slogan__title-button {
  margin-top: 302px;

  @media (min-width: @tablet-width) and (max-width: @max-tablet-width) {
    margin-top: 49px;
    width: 244px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 52px;
  }
}
