@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff") format("woff"), url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
}
@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 20px;
  }
}
.header__preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__preview-img {
  margin: 10px auto auto 20px;
}
@media (min-width: 768px) {
  .header__preview-img {
    display: none;
  }
}
.header__preview-img-text {
  margin-left: 57px;
}
@media (min-width: 768px) {
  .header__preview-img-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__preview-img-expanded {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__preview-img-expanded {
    margin: 24px auto auto 30px;
  }
}
@media (min-width: 1440px) {
  .header__preview-img-expanded {
    margin: 53px auto auto 110px;
  }
}
.header__toggle {
  margin-right: 20px;
  margin-left: 52px;
  border: none;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .header__toggle {
    display: none;
  }
}
.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .nav__list {
    display: none;
    margin: 42px 30px 0 0;
  }
}
@media (min-width: 1440px) {
  .nav__list {
    position: relative;
    z-index: 5;
    margin: 69px 110px 0 0;
  }
}
.nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .nav__link {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .nav__link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .nav__link-white {
    color: #ffffff;
  }
}
.slogan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .slogan {
    margin: 30px;
    align-items: flex-start;
  }
}
@media (min-width: 1440px) {
  .slogan {
    margin: 0 110px;
    align-items: flex-start;
  }
}
.slogan__bcgd-image {
  width: 320px;
  height: 302px;
  background-image: url("../img/cat_bcgd_mobile.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .slogan__bcgd-image {
    width: auto;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .slogan__bcgd-image {
    width: 720px;
    height: 694px;
    background-image: url("../img/cat_bcgd.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -117px;
    left: 610px;
  }
}
.slogan__bcgd-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  top: 0;
  left: 0;
}
.slogan__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  z-index: 4;
}
@media (min-width: 768px) {
  .slogan__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
.slogan__title-slogan {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  z-index: 4;
}
@media (min-width: 768px) {
  .slogan__title-slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}
.slogan__img {
  position: absolute;
  width: 280px;
  height: 270px;
  z-index: 4;
  top: 167px;
  left: 20px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .slogan__img {
    top: 267px;
    left: 60px;
  }
}
@media (min-width: 1440px) {
  .slogan__img {
    left: 600px;
  }
}
.slogan__title-button {
  margin-top: 302px;
  width: 280px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .slogan__title-button {
    margin-top: 49px;
    position: relative;
    z-index: 5;
  }
}
@media (min-width: 1440px) {
  .slogan__title-button {
    margin-top: 52px;
  }
}
.main {
  padding: 0 20px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .main {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .main {
    padding: 0 110px;
  }
}
.fitchers {
  margin: 0;
}
@media (min-width: 768px) {
  .fitchers {
    margin: 526px 0 0;
  }
}
@media (min-width: 1440px) {
  .fitchers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 281px 0 0;
  }
}
.fitchers__block {
  width: 280px;
  height: 266px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .fitchers__block {
    width: 708px;
    height: 372px;
  }
}
@media (min-width: 1440px) {
  .fitchers__block {
    width: 570px;
    height: 374px;
  }
}
.fitchers__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .fitchers__title {
    font-size: 36px;
    line-height: 36px;
  }
}
.fitchers__link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  position: relative;
}
@media (min-width: 768px) {
  .fitchers__link {
    font-size: 20px;
    line-height: 30px;
  }
}
.fitchers__desc {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .fitchers__desc {
    font-size: 16px;
    line-height: 24px;
  }
}
.fitchers__link-arrow {
  position: absolute;
  margin-left: 15px;
}
.functions__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .functions__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .functions__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.functions__block {
  width: 280px;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .functions__block {
    margin-bottom: 37px;
  }
}
@media (min-width: 768px) {
  .functions__eco {
    height: 280px;
    width: 230px;
    background-image: url("../img/1.svg");
    background-position: right;
    background-repeat: no-repeat;
    font-family: "Arial", sans-serif;
  }
}
@media (min-width: 768px) {
  .functions__dust {
    height: 280px;
    width: 246px;
    margin-left: 90px;
    background-image: url("../img/2.svg");
    background-position: right;
    background-repeat: no-repeat;
    font-family: "Arial", sans-serif;
  }
}
@media (min-width: 768px) {
  .functions__food {
    height: 280px;
    width: 248px;
    margin-left: 79px;
    background-image: url("../img/3.svg");
    background-position: right;
    background-repeat: no-repeat;
    font-family: "Arial", sans-serif;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .functions__food {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .functions__best-pet {
    height: 280px;
    width: 250px;
    margin-left: 77px;
    background-image: url("../img/4.svg");
    background-position: right;
    background-repeat: no-repeat;
    font-family: "Arial", sans-serif;
  }
}
.example {
  background-color: #f2f2f2;
  width: 320px;
  box-sizing: border-box;
  margin: 0 -20px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .example {
    width: 708px;
    background-color: #ffffff;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .example {
    width: 1440px;
    background-color: #ffffff;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .example__block {
    background-color: #f2f2f2;
    position: relative;
    box-sizing: border-box;
    padding: 70px 110px 75px;
    width: 1440px;
    margin-left: -110px;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .example__block {
    position: relative;
  }
}
.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.example__text {
  font-family: "Arial", sans-serif;
}
@media (min-width: 1440px) {
  .example__text {
    width: 436px;
  }
}
.example__add-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    width: 436px;
  }
}
.example__spend {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .example__spend {
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .example__spend {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.example__wraper-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .example__wraper-title {
    font-size: 30px;
    line-height: 37px;
  }
}
.example__desc {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
}
@media (min-width: 768px) {
  .example__desc {
    font-size: 14px;
    line-height: 14px;
  }
}
.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 768px) {
  .example__cost {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}
.example__cost-qty {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .example__cost-qty {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}
.example__img {
  width: 280px;
  height: 256px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .example__img {
    position: absolute;
    right: 200px;
    top: 300px;
  }
}
@media (min-width: 1440px) {
  .example__img {
    position: absolute;
    right: 200px;
    top: -120px;
  }
}
.example__bkgd-add {
  display: none;
  margin-left: -30px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .example__bkgd-add {
    display: block;
    width: 768px;
    height: 462px;
    margin-top: 250px;
    background-color: #eaeaea;
  }
}
.adress__cooperation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px;
  margin: 0 -20px;
}
@media (min-width: 768px) {
  .adress__cooperation {
    padding: 56px 70px;
    margin: 0 -30px;
  }
}
@media (min-width: 1440px) {
  .adress__cooperation {
    width: 565px;
    height: 198px;
    box-sizing: border-box;
    padding: 56px 80px;
    margin: 95px 765px 107px 0;
    position: relative;
    z-index: 3;
  }
}
@media (min-width: 768px) {
  .adress__cooperation-margin {
    padding: 56px 70px;
    margin: 0 -70px;
  }
}
@media (max-width: 1440px) {
  .adress__cooperation-bkgd {
    background-color: #f2f2f2;
  }
}
.adress__cooperation-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 768px) {
  .adress__cooperation-title {
    font-size: 20px;
    line-height: 26px;
  }
}
.adress__cooperation-street {
  font-family: "Arial", sans-serif;
  line-height: 20px;
}
.adress__cooperation-city {
  font-family: "Arial", sans-serif;
}
.adress__map-icon {
  position: absolute;
  display: none;
}
.footer {
  background-color: #f2f2f2;
}
@media (max-width: 767px) {
  .footer {
    background-color: #f2f2f2;
    width: 320px;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    height: 147px;
    box-sizing: border-box;
    padding: 58px 30px 55px;
  }
}
@media (min-width: 1440px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 149px;
    box-sizing: border-box;
    padding: 57px 110px 58px;
  }
}
@media (max-width: 767px) {
  .footer__html-expanded {
    display: none;
  }
}
.footer__html {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}
@media (min-width: 768px) {
  .footer__html {
    display: none;
  }
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
}
.main-form {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .main-form {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media (min-width: 1440px) {
  .main-form {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.main-form__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .main-form__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}
.main-form__title-slogan {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .main-form__title-slogan {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}
.form__pet {
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__pet {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .form__pet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.form__pet-list {
  text-transform: uppercase;
  list-style: none;
  padding: 0;
}
.form__pet-point {
  border: 1px solid #e7e7e7;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
}
.form__pet-point-list {
  text-transform: uppercase;
}
.form__pet-name-input,
.form__pet-weight-input,
.form__pet-age-input {
  text-transform: uppercase;
  box-sizing: border-box;
}
.form__pet-owner-contacts {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .form__pet-owner-contacts {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}
.form__pet-owner-email,
.form__pet-owner-phone,
.form__pet-owner-email-input,
.form__pet-owner-phone-input {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__pet-owner-email,
  .form__pet-owner-phone,
  .form__pet-owner-email-input,
  .form__pet-owner-phone-input {
    font-size: 20px;
    line-height: 30px;
  }
}
.form__pet-comment-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .form__pet-comment-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}
.form__pet-comment-text-input {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__pet-comment-text-input {
    font-size: 20px;
    line-height: 30px;
  }
}
.form__pet-add-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .form__pet-add-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}
.form__pet-add-list {
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
}
@media (min-width: 768px) {
  .form__pet-add-list {
    font-size: 20px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .form__pet-add-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .form__pet-owner-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .form__pet-add-list-item {
    width: 221px;
  }
}
@media (min-width: 768px) {
  .form__pet-add-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .form__pet-add-wrapper {
    display: flex;
    justify-content: flex-start;
  }
}
.form__add-info {
  font-family: "Arial", sans-serif;
  line-height: 16px;
}
.main-catalog {
  padding: 0 20px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .main-catalog {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .main-catalog {
    padding: 0 110px;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .main-catalog__container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;
  }
}
@media (min-width: 1440px) {
  .main-catalog__container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 144px 80px;
  }
}
.main-catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-left: 0;
}
@media (min-width: 768px) {
  .main-catalog__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}
.catalog-item,
.catalog-item__add {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  width: 280px;
  height: 190px;
}
@media (min-width: 768px) {
  .catalog-item,
  .catalog-item__add {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    width: 324px;
    height: 430px;
    background-color: #f2f2f2;
    padding: 160px 36px 0;
  }
}
@media (min-width: 1440px) {
  .catalog-item,
  .catalog-item__add {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    width: 245px;
    height: 431px;
    background-color: #f2f2f2;
  }
}
.catalog-item__list {
  list-style: none;
  padding: 0;
}
.catalog-item__list-item:not(:last-child) {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 140px;
}
@media (min-width: 768px) {
  .catalog-item__list-item:not(:last-child) {
    margin: 0;
  }
}
.catalog-item__button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin-top: 25px;
  width: 280px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .catalog-item__button {
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .catalog-item__button {
    width: 168px;
  }
}
.catalog-item__add-button-show {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin-top: 25px;
  width: 280px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .catalog-item__add-button-show {
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .catalog-item__add-button-show {
    width: 168px;
  }
}
.catalog-item__name,
.catalog-item__add-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
@media (min-width: 768px) {
  .catalog-item__name,
  .catalog-item__add-name {
    font-size: 20px;
    line-height: 21px;
  }
}
.catalog-item__desc {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog-item__desc {
    font-size: 16px;
    line-height: 16px;
  }
}
.catalog-item__add-desc {
  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .catalog-item__add-desc {
    font-size: 16px;
    line-height: 16px;
  }
}
.catalog-item__img1 {
  position: absolute;
  top: 25px;
  left: 56px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .catalog-item__img1 {
    position: absolute;
    top: -45px;
    left: 82px;
  }
}
@media (min-width: 1440px) {
  .catalog-item__img1 {
    position: absolute;
    top: -52px;
    left: 43px;
  }
}
.catalog-item__img2 {
  position: absolute;
  top: 25px;
  left: 56px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .catalog-item__img2 {
    position: absolute;
    top: -73px;
    left: 78px;
  }
}
@media (min-width: 1440px) {
  .catalog-item__img2 {
    position: absolute;
    top: -80px;
    left: 39px;
  }
}
.catalog-item__img3 {
  position: absolute;
  top: 25px;
  left: 56px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .catalog-item__img3 {
    position: absolute;
    top: -47px;
    left: 81px;
  }
}
@media (min-width: 1440px) {
  .catalog-item__img3 {
    position: absolute;
    top: -54px;
    left: 42px;
  }
}
.catalog-item__img4 {
  position: absolute;
  top: 25px;
  left: 56px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .catalog-item__img4 {
    position: absolute;
    top: -73px;
    left: 78px;
  }
}
@media (min-width: 1440px) {
  .catalog-item__img4 {
    position: absolute;
    top: -80px;
    left: 39px;
  }
}
.catalog-item__img5 {
  position: absolute;
  top: 25px;
  left: 56px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .catalog-item__img5 {
    position: absolute;
    top: -44px;
    left: 82px;
  }
}
@media (min-width: 1440px) {
  .catalog-item__img5 {
    position: absolute;
    top: -51px;
    left: 43px;
  }
}
.catalog-item__img6 {
  position: absolute;
  top: 25px;
  left: 56px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .catalog-item__img6 {
    position: absolute;
    top: -73px;
    left: 78px;
  }
}
@media (min-width: 1440px) {
  .catalog-item__img6 {
    position: absolute;
    top: -80px;
    left: 39px;
  }
}
.catalog-item__img7 {
  position: absolute;
  top: 25px;
  left: 56px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .catalog-item__img7 {
    position: absolute;
    top: -47px;
    left: 81px;
  }
}
@media (min-width: 1440px) {
  .catalog-item__img7 {
    position: absolute;
    top: -54px;
    left: 42px;
  }
}
.additional-item__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .additional-item__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .additional-item__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.additional-item__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1440px) {
  .additional-item__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .additional-item__item {
    display: grid;
    grid-template-columns: 500px 300px;
    gap: 100px;
  }
}
@media (min-width: 768px) {
  .additional-item__item-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .additional-item__item-block {
    display: grid;
    grid-template-columns: 200px 200px;
  }
}
.additional-item__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 768px) {
  .additional-item__item-title {
    font-size: 20px;
    line-height: 20px;
  }
}
.additional-item__item-info {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .additional-item__item-info {
    font-size: 16px;
    line-height: 20px;
  }
}
.additional-item__item-litle-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.additional-item__button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  width: 280px;
}
.additional-item__info {
  width: 280px;
  height: 290px;
  margin-top: 35px;
  padding: 187px 59px 43px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  background-image: url("../img/cat_aside_mobile.png");
  background-size: 100%;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  position: relative;
}
@media (min-width: 768px) {
  .additional-item__info {
    height: 200px;
    width: 708px;
    padding: 0;
    align-items: center;
    background-image: url("../img/cat_aside_tablet.png");
    background-size: 100%;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .additional-item__info {
    height: 289px;
    width: 245px;
    align-items: center;
    background-image: url("../img/cat_aside.png");
    background-size: 100%;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    position: relative;
  }
}
.additional-item__info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  top: 0;
  left: 0;
}
.additional-item__info-text {
  font-family: "Arial", sans-serif;
  color: #ffffff;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  z-index: 10;
  margin: 0;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  min-height: 100%;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
    width: 768px;
  }
}
@media (min-width: 1440px) {
  body {
    font-size: 16px;
    line-height: 24px;
    width: 1440px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
